@model PodcastReview.Models.ReviewDetail
@{
    ViewBag.Title = "The Podcast Review";
}


    <div class="col-md-12">
        <div><a href=""><img class="microphone" src="https://i.imgur.com/wHwnqmm.jpg" title="source: pexels.com" /></a>
        @if (User.Identity.IsAuthenticated)
        {
            <p class="bottom-text"><a href="/Review/ViewAll">Find new podcasts, </a><a href="/Review/Create">review podcasts.</a></p>
        }
        
        else 
        {
            <p class="bottom-text"><a href="/Review/ViewAll">Find new podcasts, </a>review podcasts.</p>
        }
        </div>
    </div>

<div class="row">
    <div class="col-md-1"></div>
        <div class="col-md-7">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <h4>Reply All</h4>
                    </div>
                    <div class="panel-body">
                        Technology, the internet, super tech support, mysterious phone calls, PJ's laugh, email forgiveness day.
                        <h5 style="text-align:right"> - Reviewer X</h5>
                        <h5 style="text-align:left">5</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <h4>Favorite Episodes</h4>
                    </div>
                    <div class="panel-body">
                        Today's the Day<br/>
                        Long Distance<br/>
                        The Takeover<br/>
                        Boy in Photo<br/>
                        In the Desert
                    </div>
                </div>
            </div>
    <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <h4>Dear John</h4>
                    </div>
                    <div class="panel-body">
                        Sketchy dude, frustrating lady, great storytelling. 
                        <h5 style="text-align:right"> - Reviewer X</h5>
                        <h5 style="text-align:left">5</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <h4>Favorite Episodes</h4>
                    </div>
                    <div class="panel-body">                        
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
